@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(242, 241, 244);
}

h3 {
    color: rgb(0, 0, 0);
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

a {
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .2);
    background-color: #ffffff;
    z-index: 1000;
}

header .navbar a {
    font-size: 1.5rem;
    padding: 0 1.5rem;
    color: #666;  
}

header .navbar a:hover {
    transition: .1s;
    color: rgb(138, 131, 243);
}

.categories-slider {
    width: 90%;
    margin: 0 auto;
}

.slider .category-item {
    padding: 10px;
    text-align: center;
}

.category-img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.category-title {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

.category-text {
    margin-top: 150px;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.product-banner {
    position: relative;
}

.product-item {
    background: rgb(251, 251, 255);
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
}

.product-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, .5);
}

.product-img {
    width: 100%;
    max-height: 200px;
    object-fit: contain;
    border-radius: 8px;
}

.product-title {
    font-size: 16px;
    margin: 10px 0;
    font-weight: bold;
    color: #333;
}

.product-price {
    font-size: 18px;
    font-weight: bold;
    color: #d726e4;
}

button {
    background-color: #b300ff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #790490;
}

#cart-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    margin: auto;
    justify-content: center;
    margin-bottom: 50px;
}

#cart-container .product-item {
    width: 250px;
}

#cart-container .remove-btn {
    font-size: large;
    background-color: #552cbc;
    color: white;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    margin-top: 5px;
    border: none;
    cursor: pointer;
}

#cart-container .remove-btn:hover {
    background-color: #2f1771;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 90px;
}

.modal-content {
    background-color: #fefefe;
    margin: 7% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 50%;
    height: auto;
    display: block;
}

#modal-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    height: auto;
}

.close-btn {
    color: #ffffff;
    font-size: 45px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 25px;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}